@tailwind base;
@tailwind components;
@tailwind utilities;

.back-img {
background-image: url("/public/img/desktop-wallpaper-stock-trading-financial-market.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.loging-page {
background: rgba(255, 255, 255, 0.42);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.5px);
-webkit-backdrop-filter: blur(9.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}